@font-face {
  font-family: "Montserrat";
  src: url(../asset/font/static/Montserrat-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url(../asset/font/static/Montserrat-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url(../asset/font/static/Montserrat-Black.ttf);
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url(../asset/font/static/Montserrat-BlackItalic.ttf);
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url(../asset/font/static/Montserrat-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url(../asset/font/static/Montserrat-ExtraBoldItalic.ttf);
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url(../asset/font/static/Montserrat-ExtraLight.ttf);
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url(../asset/font/static/Montserrat-ExtraLightItalic.ttf);
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url(../asset/font/static/Montserrat-Italic.ttf);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url(../asset/font/static/Montserrat-Light.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url(../asset/font/static/Montserrat-LightItalic.ttf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url(../asset/font/static/Montserrat-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: "Montserrat";
  src: url(../asset/font/static/Montserrat-MediumItalic.ttf);
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url(../asset/font/static/Montserrat-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url(../asset/font/static/Montserrat-SemiBoldItalic.ttf);
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url(../asset/font/static/Montserrat-Thin.ttf);
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url(../asset/font/static/Montserrat-ThinItalic.ttf);
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url(../asset/font/Montserrat-Italic-VariableFont_wght.ttf);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url(../asset/font/Montserrat-VariableFont_wght.ttf);
  font-weight: normal;
  font-style: normal;
}


html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat';
}
/* Header Styles */
div.header .logo {
  height: 40px;
  width: 161px;
  margin-left: 3%;
}

.header {
  height: 65px;
  width: 100%;
  background-color: #fa87a1;
  display: flex;
  align-items: center;
}

div.header .nav {
  margin-left: auto;
}

div.header .link {
  padding: 0 15px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

div.header .links {
  font-family: 'Montserrat';
  font-weight: 900;
  color: #ffffff;
  font-size: 18px;
  display: flex;
  margin-left: auto;
  margin-right: 65px;
}

div.header .profile {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: 0;
  background-image: url('../asset/img/icons/profile.svg');
  display: flex;
  cursor: pointer;
}

.sidepanel,
.openbtn {
  display: none;
}

@media screen and (max-width: 414px) {
  div.header .link {
    display: none;
  }

  .sidepanel {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 200px;
    top: 0;
    right: 0;
    background-color: #fff3e6;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: block;
  }

  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fa87a1;
    display: block;
    transition: 0.3s;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
  }

  .sidepanel a:hover {
    color: #f52153;
  }

  .sidepanel .closebtn {
    display: block;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }

  .openbtn {
    position: absolute;
    right: 60px;
    display: block;
    font-size: 20px;
    cursor: pointer;
    background-color: #fa87a1;
    color: white;
    padding: 5px 10px;
    border: solid 2px white;
    border-radius: 20px;
  }

  .openbtn:hover {
    background-color: white;
    color: #f52153;
  }
}

/* Footer Styles*/
.footer {
  position: relative;
  bottom: 0;
  height: 200px;
  width: 100%;
  background-color: #fa87a1;
  color: white;
  margin-top: 10px;
}

div.footer .copyright {
  position: absolute;
  bottom: 0;
  padding: 15px;
}

div.footer .links {
  position: absolute;
  right: 400px;
  top: 10px;
  height: 100px;
  padding: 15px;
  align-content: space-between;
}

div.footer .link {
  color: white;
  font-weight: bold;
  padding-top: 10px;
  font-size:16px;
}

div.footer .address {
  position: absolute;
  right: 25px;
  top: 20px;
  font-size: 16px;
}

@media screen and (max-width: 414px) {
  div.footer .links {
    right: 245px;
  }

  div.footer .link {
    font-size: 12px;
  }
  div.footer .address {
    font-size: 11px;
    right: 10px;
  }
}

