body {
    padding: 0;
    margin: 0;
    font-family: "Montserrat";
}
/* Header Styles */
div.header .logo {
    padding: 15px;
}

.header {
    height: 65px;
    width: 100%;
    background-color: #fa87a1;
    display: flex;
    align-items: center;
}

div.header .nav {
    margin-left: auto;
    margin-right: 65px;
} 

div.header .link {
    padding: 0 15px;
    cursor: pointer;
}

div.header .links {
    font-family: "Montserrat";
    font-weight: 900;
    color: #ffffff;
    font-size: 18px;
    display: flex;
    margin-left: auto;
    margin-right: 65px;
}

div.header .profile {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: 0;
    background-image: url("../asset/img/icons/profile.svg");
    display: flex;
}


/* Footer Styles Dun use yet*/
.footer {
    position: absolute;
    bottom: 0;
    height: 200px;
    width: 100%;
    background-color: #fa87a1;
    color: white;
}

div.footer .copyright {
    position: absolute;
    bottom: 0;
    padding: 15px;
}

div.footer .links {
    height: 100px;
    padding: 15px;
    align-content: space-between;
}

div.footer .link {
    color: white;
    font-weight: bold;
    padding-top: 10px;
}
div.footer .address {
    position: absolute;
    right: 20px;
    top: 20px;
}