@charset "utf-8";

h1{ 
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

body{
    min-height: 100%;   
    margin: 0px auto;
    min-width: 100%;
    max-width: 100%;   
    width: 100%;
}

h2{
    text-align: center;
    padding-top:50px;
}

.categories {
    display: flex;
    justify-content: center;
    padding:10px;
}

.product-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top:10px
}

/* Mobile Screen Layout */
@media only screen and (max-width: 414px) {
    .categories > img{
        width:390px;
    }
}
