a.back-to-cart {
    float: left;
    padding-top: 40px;
    padding-left: 48px;
}

h1#title {
    padding-left: 650px;
    margin-bottom: 10px;
}

/* Shipping layout */
div.shipping {
    float: left;
    width: 54%;
    margin-left: 48px;
    padding-bottom: 15px;
}

div.shipping h2 {
    padding-left: 30px;
}

div.shipping .form-group1 label, div.shipping .form-group2 label {
    display: inline-block;
    width: 200px;
    height: 35px;
    padding-bottom: 10px;
    padding-left: 100px;
}

form input[type=text], form input[type=email], form input[type=tel] {
    width: 47%;
    padding: 12px 20px;
    display: inline-block;
    box-sizing: border-box;
}

form select {
    width: 154px;
    padding: 10px;
    box-sizing: border-box;
}

div.select-delivery-method {
    padding-left:100px;
}

form div.checkbox {
    width: 555px;
    padding-bottom: 1px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 100px;
}

form div.checkbox input[type=checkbox] {
    float:left;
    margin-top: 5px;
}

form div.checkbox #text {
    margin-left: 25px;
}

form .button{
    width: 54%;
    margin-top: 10px;
    margin-left: 48px;
    padding: 20px;
    text-align: center;
    display: inline-block;
}

/* Summary layout */
div.summary {
    float: right;
    margin-right: 2.3%;
    width: 38%;
}

div.summary h2 {
    padding-left: 30px;
}

div.summary .products img {
    width: 100px;
    padding-left: 30px;
}

div.summary .products #product_name {
    vertical-align: top;

}

div.summary .products #right-side {
    float: right;
    text-align: right;
    padding-right: 30px;
}

div.summary .products .product{
    padding-bottom: 10px;
}

hr {
    margin-left: 10px;
    margin-right: 10px;
}

div.summary .details {
    padding-left: 30px;
}

div.summary .details p span, div.summary #total span {
    float: right;
    padding-right: 30px;
}

div.summary #total {
    padding-left: 30px;
}

/* Mobile Screen Layout */
@media only screen and (max-width: 414px) {
    /* TODO Rmb change this */
    header .header{
        display:none;
    }

    a.back-to-cart {
        float: none;
        padding-left: 23px;
    }

    h1#title {
        padding-left: 0px;
        text-align: center;
        margin-top: 0px;
    }

    /*Shipping layout */
    div.shipping {
        float: none;
        margin-left: 23px;
        margin-right: 23px;
        width: 90%;
    }

    div.shipping h2 {
        padding-left: 16px;
        padding-top: 10px;
        height: 20px;
        margin-top: 5px;
    }

    div.shipping .form-group1 label, div.shipping .form-group2 label {
        padding-top: 10px;
        padding-left: 16px;
        height: 15px;
    }
    

    div.shipping .form-group1 div#extra-address-line label {
        display: none;
    }

    form input[type=text], form input[type=email], form input[type=tel] {
        margin-left: 16px;
        width: 330px;
    }

    div.shipping .form-group1 div#extra-address-line input[type=text] {
        margin-top: 10px;
    }

    form select {
        margin-left: 16px;
    }

    div.select-delivery-method {
        padding-top: 10px;
        padding-left:16px;
    }

    form div.checkbox {
        width: 310px;
        margin-left: 16px;
        
    }

    /* Summary layout */
    div.summary {
        float:none;
        margin-left: 23px;
        margin-right: 23px;
        width: 88.88%;
    }

    div.summary h2 {
        padding-top: 10px;
        padding-left: 16px;
    }

    div.summary #total {
        padding-bottom: 15px;
        margin-bottom: 5px;
    }

    form .button {
        width: 90%;
        margin-left: 23px;
    }
}

@media only screen and (max-width: 500px) {
    /* TODO Rmb change this */
    header .header{
        display:none;
    }

    a.back-to-cart {
        float: none;
        padding-left: 23px;
    }

    h1#title {
        padding-left: 0px;
        text-align: center;
        margin-top: 0px;
    }

    /*Shipping layout */
    div.shipping {
        float: none;
        margin-left: 23px;
        margin-right: 23px;
        width: 90%;
    }

    div.shipping h2 {
        padding-left: 16px;
        padding-top: 10px;
        height: 20px;
        margin-top: 5px;
    }

    div.shipping .form-group1 label, div.shipping .form-group2 label {
        padding-top: 10px;
        padding-left: 16px;
        height: 15px;
    }
    

    div.shipping .form-group1 div#extra-address-line label {
        display: none;
    }

    form input[type=text], form input[type=email], form input[type=tel] {
        margin-left: 16px;
        width: 400px;
    }

    div.shipping .form-group1 div#extra-address-line input[type=text] {
        margin-top: 10px;
    }

    form select {
        margin-left: 16px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    div.select-delivery-method {
        padding-top: 10px;
        padding-left:16px;
    }

    form div.checkbox {
        width: 380px;
        margin-left: 16px;
        
    }

    /* Summary layout */
    div.summary {
        float:none;
        margin-left: 23px;
        margin-right: 23px;
        width: 88.88%;
    }

    div.summary h2 {
        padding-top: 10px;
        padding-left: 16px;
    }

    div.summary #total {
        padding-bottom: 15px;
        margin-bottom: 5px;
    }

    form .button {
        width: 90%;
        margin-left: 23px;
    }
}