section {
    padding-left: 3.33%;
    padding-right: 7%;

}

a {
    color: black;
}

h1, h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    color: #fa87a1;
}


/* Mobile Screen Layout */
@media only screen and (max-width: 414px) {
    /* TODO Rmb change this */
    header .header{
        display:none;
    }

    section {
        padding-left: 27px;
        padding-right: 28px;
    }
}
    