@charset "utf-8";

h1{
    padding-top: 10px;
    padding-bottom: 10px;
}

body{
    margin: 0px auto;
}

.cart_bar{
    display:flex;
    align-items: center;
    overflow: hidden;
    border-radius: 3px;
    height: 55px;
    margin-bottom: 12px;
    padding: 0 20px;
}

.border{
    position:relative;
    border: 1px solid rgba(0,0,0,.14);
}

.container{
    margin-right:50px;
    margin-left:50px;
}

.main{
    display:flex;
    flex-direction: column;
    padding-top:20px
}

.product_bar{
    display:block;
    padding: 0 20px 15px;
    margin-top:15px;
}

.product_img img{
    width:100px;
}

.content{
    display:flex;
    align-items: center;
}

.product_head{
    width: 46%;
    padding-left: 50px; 
 }
 
.price_head{
    width: 15%;
    text-align: center;
 }
 
.quantity_head{
    width: 15%;
    text-align: center;
}

.total_price_head{
    width: 10%;
    text-align:center;
}

.action{
    width:12%;
    text-align: center;
    justify-content: center;
}

.product_img{
    padding: 0 50px 0 12px;
    display:flex;
    min-width: 58px;
    box-sizing: border-box;
 }

.product_name{
    width:45%;          
 }
 
.price{
    width:10%;
    flex-direction: column;
    padding-left:40px;
    padding-right:20px;
 }
 
.quantity{
    width: 15%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.total_price{
    width:10%;
    flex-direction: column;
    padding-right: 60px;
}

.input{
    border-left: 0;
    border-right: 0;
    box-sizing: border-box;
    text-align: center; 
}

.subtrate:first-child{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.subtrate{
    outline:none;
    cursor:pointer;
    align-items: center;
    justify-content: center;
}

.add:first-child{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.add{
    outline:none;
    cursor:pointer;
    align-items: center;
    justify-content: center;
}

.delete{
    cursor: pointer;
    background: none;
    border:0;
    padding-right:35px;
}

.checkout{
    padding: 12px 0;
    display:flex;
    align-items: center;
    width:100%;
    margin-top: .75rem;
    flex:1;
    box-sizing: border-box;
}

.select_all{
    cursor:pointer;
    display:flex;
    background: none;
    border:0;
}

.select_all_div{
    width:65%;
    height:10%;
    text-align: center;
    justify-content: center;
}

.final_price{
    width:13%;
}

.checkout_button{
    padding:10px 24px;
    border-radius: 10px;
    font-size: 14px;
}

/* Mobile Screen Layout */
@media only screen and (max-width: 414px) {
    h1{
        padding-top: 10px;
        padding-bottom: 10px;
        
    }
       
    .container{
        margin-right:10px;
        margin-left:10px;
    }
 
    .product_img img{
        width:50px;
    }

    .product_head{
        width: 46%;
        padding-left: 32px; 
     }
     
    .price_head{
        width: 15%;
        text-align: center;
     }
     
    .quantity_head{
        width: 15%;
        text-align: center;
    }
    
    .total_price_head{
        width: 10%;
        text-align:center;
    }
    
    .action{
        width:12%;
        text-align: center;
        justify-content: center;
    }
    
    .product_img{
        padding: 0 50px 0 12px;
        display:flex;
        min-width: 58px;
        box-sizing: border-box;
     }
    
    .product_name{
        width:45%;          
     }
     
    .price{
        width:10%;
        flex-direction: column;
        padding-left:40px;
        padding-right:20px;
     }
     
    .quantity{
        width: 17%;
    }
    
    .total_price{
        width:10%;
        padding-right: 25px;
    }
 
    .delete{
        padding-right:35px;
    }
        
    .select_all_div{
        width:30%;
        height:10%;
        text-align: center;
        justify-content: center;
    }
    
    .final_price{
        width:20%;
    }

    .checkout_button{
        padding:8px 8px;
    }
}
