h1{ 
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.flex-container {
    display: inline-flexbox;
    flex-wrap: wrap;
}

.flex-container > div {
    text-align: center;
}

