body {
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  background: #fff3e6;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fa87a1;
  border-radius: 10px;
}

.video {
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.logo {
  margin-left: 3%;
  padding-left: 2%;
  width: 90%;
  height: 200px;
  display: flex;
  border-bottom: 2px #fa87a1 solid;
}

.logoImg {
  margin: 50px;
}

.information {
  width: 100%;
  height: 80%;
  margin-top: 65px;
  display: flex;
  flex-direction: column;
}

.tagline {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 30px;

  color: #fa87a1;
}

.description {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

/* Vision & Mission */
.visionAndMission {
  width: 80%;
  margin-left: 10%;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.vision,
.mission {
  padding: 20px;
}

.visionTitle,
.missionTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  color: #fa87a1;
  text-align: center;
}

.visionDescription,
.missionDescription {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: justify;

  color: #000000;
}

/* Get in touch */
#getintouchTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  text-align: center;
  margin-bottom: 30px;

  color: #fa87a1;
}

.getInTouch {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.talkToUs,
.sendEnquiry {
  width: 500px;
  height: 500px;
  background: #fff3e6;
  border-radius: 25px;
  padding: 30px;
  margin: 10px;
}

.phoneNum,
.email {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #8c4900;
  text-decoration: none;
}

.talkToUsTitle,
.sendEnquiryTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #fa87a1;
}

.talkToUsDescription,
.sendEnquiryDescription {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
}

.contact {
  margin-left: 20%;
}

.enquiryForm > form {
  width: 350px;
  margin-left: 75px;
}

.enquiryForm > form > label {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  color: #8c4900;
}

.enquiryForm > form > input {
  width: 350px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background: #ffe2c4;
}

#description {
  padding: 10px;
  height: 150px;
}

.enquiryForm > form > input[type="submit"] {
  background: #fa87a1;
  width: 150px;
  color: #ffe2c4;
  border-radius: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  margin-left: 100px;
}

/* Customer Review */
.reviewTitle {
  margin-top: 50px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  text-align: center;
  color: #fa87a1;
}

.reviewList {
  width: 80%;
  padding: 0 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
}

.reviewCard {
  width: 250px;
  height: 250px;
  background: #fff3e6;
  border-radius: 10px;
  padding: 10px;
  margin: 30px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.reviewDescription {
  width: inherit;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  padding-bottom: 5px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.reviewer {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

.reviewDate {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
}

.reviewRating {
  margin: 10px 0;
}

@media screen and (max-width: 414px) {
  .video {
    display: none;
  }

  .tagline {
    font-size: 20px;
  }

  .description {
    display: none;
  }

  .visionAndMission {
    margin-top: 50px;
    flex-direction: column;
  }

  #getintouchTitle {
    margin-top: 50px;
  }

  .getInTouch {
    flex-direction: column;
  }

  .talkToUs,
  .sendEnquiry {
    height: fit-content;
    width: 394px;
    margin: auto;
    left: 0;
    right: 0;
    margin-bottom: 10px;
    padding: 10px;
  }

  .reviewList {
    width: 300px;
  }

  .enquiryForm > form,
  .contact {
    margin-left: 25px;
  }
}
