/* HTML and body styles*/
body {
  background-color: #e4e4e4;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

a.back-to-cart {
  text-decoration: none;
  color: #000000;
}

a.back-to-cart:hover {
  text-decoration: underline;
}

h1#title {
  color: #fa87a1;
}

/* Shipping styles */
div.shipping {
  background-color: white;
}

div.shipping h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"] {
  border: 1px solid #ccc;
  border-radius: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

form input#zipcode {
  width: 154px;
}

div.shipping .form-group1 label::after,
div.shipping .form-group2 label::after {
  content: attr(data-end);
  color: red;
}

form select {
  border: 1px solid #ccc;
  border-radius: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

form div.select-delivery-method label#standardLabel::after {
  content: attr(data-end);
  color: #ff740f;
}

form div.select-delivery-method label#expressLabel::after {
  content: attr(data-end);
  color: #00000091;
}

form div.checkbox {
  background-color: #e4e4e4;
}

form div.checkbox #text {
  text-align: justify;
}

form div.checkbox a#checkBox {
  color: #000000;
}

/* Summary styles */
div.summary {
  background-color: white;
}

div.summary h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
}

div.summary hr {
  border-color: #f2f2f2;
}

div.summary .details {
  font-size: 20px;
}

div.summary div.products div#right-side span.price::before,
div.summary .details span#itemSubtotal::before,
div.summary .details span#taxAmount::before {
  content: attr(data-start);
}

div.summary div.products div.product button.delete {
  color: #159dff;
  border: none;
  background-color: white;
  cursor: pointer;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  padding-right: 0px;
}

div.summary div.products div.product button.delete:hover {
  text-decoration: underline;
}

div.summary .details span#shippingAmount {
  color: #ff740f;
}

div.summary #total {
  font-weight: 700;
  font-size: 20px;
}

/* Button styles */
form .button {
  background-color: #fa87a1;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  transition: all 0.5s;
}

form .button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

form .button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

form .button:hover span {
  padding-right: 25px;
}

form .button:hover span:after {
  opacity: 1;
  right: 0;
}
