@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Montserrat';
}

section.section_1 {
  background-color: #fa87a1;
}

section.section_1 > h1 {
  font-weight: 750;
  text-align: center;
  font-size: 64px;
  color: white;
}

section.section_1 > form > input {
  width: 65%;
  height: 80px;
  border: 1px solid white;
  font-size: 28px;
  text-indent: 30px;
}

section.section_1 > form > input:focus {
  outline: none;
}

section.section_2 > h2 {
  font-weight: 650;
  text-align: center;
  font-size: 48px;
  color: #fa87a1;
}

div.question {
  border: 1px solid #fff3e6;
  border-radius: 25px;
  box-shadow: 2px 3px 5px #00000029;
  background-color: #fff3e6;
  width: 70%;
  height: 236px;
  transition: transform 0.5s, opacity 0.5s;
}

div.question > h3 {
  text-indent: 24px;
  font-size: 28px;
}

div.question > p {
  font-size: 24px;
  line-height: 175%;
  word-spacing: 3px;
}

.question-hidden {
  opacity: 0;
  transform: translateY(10rem);
}
