section.section_1 {
  background-color: #fa87a1;
}

section.section_1 > h1 {
  font-weight: 750;
  text-align: center;
  font-size: 64px;
  color: white;
}

section.section_1 > form > input {
  border: 1px solid white;
  font-size: 28px;
  text-indent: 30px;
}

section.section_1 > form > input:focus {
  outline: none;
}

section.section_2 > h2 {
  font-weight: 650;
  text-align: center;
  font-size: 48px;
  color: #fa87a1;
}

div.question {
  border: 1px solid #fff3e6;
  border-radius: 25px;
  box-shadow: 2px 3px 5px #00000029;
  background-color: #fff3e6;
  transition: transform 0.5s, opacity 0.5s;
}

div.question > h3 {
  font-size: 28px;
}

div.question > p {
  font-size: 24px;
  line-height: 175%;
  word-spacing: 3px;
}

.question-hidden {
  opacity: 0;
  transform: translateY(10rem);
}

@media only screen and (max-width: 414px) {
  section.section_1 > h1 {
    font-weight: 750;
    text-align: center;
    font-size: 33px;
    color: white;
  }

  section.section_1 > form > input {
    font-size: 20px;
    text-indent: 12px;
  }

  section.section_2 > h2 {
    font-size: 28px;
  }

  div.question > h3 {
    font-size: 24px;
  }

  div.question > p {
    font-size: 20px;
  }
}
