.box {
  background: rgb(255, 243, 230);
}

.banner button {
  border-radius: 50%;
}

.box img {
  border: 5px solid #555;
}

.box p {
  font-size: 22px;
}

.banner button:hover {
  background-color: #fda4ba !important;
  text-decoration: none;
  cursor: pointer;
}

.title1 {
  font-size: x-large;
  border: 0px;
  background: rgb(255, 243, 230);
  border-radius: 50px 0px 0px 0px;
}

.title2 {
  font-size: x-large;
  border: 0px;
  background-color: #fa87a1;
  border-radius: 0px 50px 0px 0px;
}
