.box
{
    background: rgb(255, 243, 230);
}

.banner button
{
    border-radius: 50%;

}

.banner button:hover
{
    background-color: #FDA4BA !important;
    text-decoration: none;
    cursor: pointer;
}